.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu > div > div {
	margin: 8px;
}

.hidden {
	display: none;
}

.sum-cost {
	color: var(--outcome-color);
}

.sum_fixed_cost {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}
